In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('IMDB Dataset.csv')

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
# One review
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

# Text Cleaning
1. Sample 10000 rows
2. Remove Html tags
3. Remove special characters
4. Converting everything to lowercase (for simplicity)
5. Remove stock words( and , is , or , etc)
6. Stemming (eg. convert words like playing , played to lower version such as play)

In [7]:
df = df.sample(10000)

In [8]:
df.head()

                                                  review sentiment
34794  "Unconditional Love" starts with great promise...  positive
19098  I gave this movie a 5 out of pure pity. My int...  negative
892    As a big-time Prince fan of the last three to ...  positive
3300   If you are the sort of person who can get a ki...  negative
49510  If you've ever wanted to see a film that stres...  negative

In [11]:
df['sentiment'].replace({'positive' :1, 'negative': 0}, inplace = True)

In [13]:
df.head()

                                                  review  sentiment
34794  "Unconditional Love" starts with great promise...          1
19098  I gave this movie a 5 out of pure pity. My int...          0
892    As a big-time Prince fan of the last three to ...          1
3300   If you are the sort of person who can get a ki...          0
49510  If you've ever wanted to see a film that stres...          0

In [17]:
import re
clean = re.compile('<.*?>')
re.sub(clean, '', df.iloc[2].review)

'As a big-time Prince fan of the last three to four years, I really can\'t believe I\'ve only just got round to watching "Purple Rain". The brand new 2-disc anniversary Special Edition led me to buy it. Wow, I was really looking forward to watching it, but I wasn\'t prepared for just how electric it actually is. Prince\'s musical performances throughout the movie are nothing short of astounding - he REALLY has the moves in this one. I am very familiar (from repeated listens) with the classic "Purple Rain" album and all its songs, but to see them in the context of the movie completely alters your perception of the tunes and lyrics - like COMPUTER BLUE, THE BEAUTIFUL ONES, WHEN DOVES CRY and PURPLE RAIN itself. There is something indescribably hypnotising about the scenes where Prince and The Revolution perform. The closing songs BABY I\'M A STAR and I WOULD DIE FOR U show how much energy and sheer talent Prince was brimming with in his mid-20s (he\'s overflowing!), it blew me away. It even makes Michael Jackson seem inanimate even in his peak years.Prince shows you how to win the girl of your dreams - drive her to a lake, make her jump in, then drive off - absolutely hilarious stuff in hindsight.Some of the scenes are very 1980s and unintentionally hilarious but this adds to the film\'s overall charm. Morris Day is the coolest cat on the block (and hilarious), and when his group The Time perform THE BIRD you get to see Morris Day and Jerome Benton light up the stage Minneapolis funk style - I love their dancing in this bit, and how Benton provides Morris with a mirror mid-performance.I already can\'t wait to watch it again, I really can\'t! Extras are terrific - particularly seeing a young Eddie Murphy pre-Beverly Hills Cop admit he is a "Prince groupie".'

In [18]:
# function to clean html tags
def clean_html(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [19]:
df['review']= df['review'].apply(clean_html)

In [22]:
# converting everything to lower case

def convert_lower(text):
    return text.lower()

In [23]:
df['review'] = df['review'].apply(convert_lower)

In [24]:
df.head()

                                                  review  sentiment
34794  "unconditional love" starts with great promise...          1
19098  i gave this movie a 5 out of pure pity. my int...          0
892    as a big-time prince fan of the last three to ...          1
3300   if you are the sort of person who can get a ki...          0
49510  if you've ever wanted to see a film that stres...          0

In [28]:
# function to remove special characters

def remove_special(text):
    x = ''
    
    for i in text :
        if i.isalnum():     # asking evry word if you are alpha-numeric or not -- if not the replace with empty space
            x = x+i           # if yes then concatenate with empty string
        else :
            x = x + ' '
    return x

In [29]:
df['review'] = df['review'].apply(remove_special)

In [30]:
df.head()

                                                  review  sentiment
34794   unconditional love  starts with great promise...          1
19098  i gave this movie a 5 out of pure pity  my int...          0
892    as a big time prince fan of the last three to ...          1
3300   if you are the sort of person who can get a ki...          0
49510  if you ve ever wanted to see a film that stres...          0

In [33]:
# pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 1.3 MB/s eta 0:00:00
Requirement already satisfied: tqdm in c:\python37\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in c:\python37\lib\site-packages (from nltk) (1.2.0)
Collecting regex>=2021.8.3
  Downloading regex-2023.3.23-cp310-cp310-win_amd64.whl (267 kB)
     -------------------------------------- 267.9/267.9 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: click in c:\python37\lib\site-packages (from nltk) (8.1.2)
Requirement already satisfied: colorama in c:\python37\lib\site-packages (from click->nltk) (0.4.4)
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2023.3.23
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [41]:
# to remove stop words
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Owner\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [42]:
from nltk.corpus import stopwords

In [43]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [48]:
def remove_stopwords(text):
    x = []
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y = x[:]
    x.clear()
    return y

In [49]:
df['review'] = df['review'].apply(remove_stopwords)

In [50]:
df

                                                  review  sentiment
34794  [unconditional, love, starts, great, promise, ...          1
19098  [gave, movie, 5, pure, pity, intention, burst,...          0
892    [big, time, prince, fan, last, three, four, ye...          1
3300   [sort, person, get, kick, bad, movie, highly, ...          0
49510  [ever, wanted, see, film, stresses, style, sub...          0
...                                                  ...        ...
38887  [problem, 1985, version, movie, simple, indian...          1
21073  [bought, movie, couple, dollars, clearance, wa...          0
36038  [worst, movie, ever, seen, molly, molly, hall,...          0
40625  [film, absolute, trash, proceeds, become, even...          0
3092   [interesting, comedy, taking, place, train, st...          1

[10000 rows x 2 columns]

In [51]:
# perform stemming
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [52]:
y = []
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z = y[:]
    y.clear()
    return z

In [53]:
stem_words(['i', 'loved', 'loving', 'it'])

['i', 'love', 'love', 'it']

In [54]:
df['review'] = df['review'].apply(stem_words)

In [55]:
df.head()

                                                  review  sentiment
34794  [uncondit, love, start, great, promis, direct,...          1
19098  [gave, movi, 5, pure, piti, intent, burst, any...          0
892    [big, time, princ, fan, last, three, four, yea...          1
3300   [sort, person, get, kick, bad, movi, highli, r...          0
49510  [ever, want, see, film, stress, style, substan...          0

In [56]:
# Join back

def join_back(list_input):
    return ' '.join(list_input)

In [57]:
df['review'] = df['review'].apply(join_back)

In [58]:
df

                                                  review  sentiment
34794  uncondit love start great promis direct p j ho...          1
19098  gave movi 5 pure piti intent burst anyon bubbl...          0
892    big time princ fan last three four year realli...          1
3300   sort person get kick bad movi highli recommend...          0
49510  ever want see film stress style substanc son d...          0
...                                                  ...        ...
38887  problem 1985 version movi simpl indiana jone c...          1
21073  bought movi coupl dollar clearanc warehous sal...          0
36038  worst movi ever seen molli molli hall could ac...          0
40625  film absolut trash proce becom even wors towar...          0
3092   interest comedi take place train stockholm ber...          1

[10000 rows x 2 columns]

In [59]:
X = df.iloc[:, 0:1].values

In [61]:
X.shape

(10000, 1)

In [87]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1000)

In [88]:
X = cv.fit_transform(df['review']).toarray()

In [89]:
X.shape

(10000, 1000)

In [90]:
y = df.iloc[:, -1].values

In [91]:
y.shape

(10000,)

In [92]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train,y_test = train_test_split(X, y, test_size = 0.2)

In [93]:
X_train.shape

(8000, 1000)

In [94]:
X_test.shape

(2000, 1000)

In [95]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB

In [96]:
clf1 = GaussianNB()
clf2 = MultinomialNB()
clf3 = BernoulliNB()

GaussianNB → When you have continuous features.

CategoricalNB →When you have categorical data.

MultinomialNB → Applied to text data.

In [97]:
clf1.fit(X_train, y_train)
clf2.fit(X_train, y_train)
clf3.fit(X_train, y_train)

BernoulliNB()

In [98]:
y_pred1 = clf1.predict(X_test)
y_pred2 = clf2.predict(X_test)
y_pred3 = clf3.predict(X_test)

In [99]:
from sklearn.metrics import accuracy_score

In [100]:
print('Gaussian : ', accuracy_score(y_test, y_pred1))
print('Multinomial : ', accuracy_score(y_test, y_pred2))
print('Bernoulli : ', accuracy_score(y_test, y_pred3))

Gaussian :  0.775
Multinomial :  0.831
Bernoulli :  0.832